<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiede.mytest.commons.mapper.ContentMapper">
  <resultMap id="BaseResultMap" type="com.jiede.mytest.commons.domain.Content">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="pic1" jdbcType="VARCHAR" property="pic1" />
    <result column="pic2" jdbcType="VARCHAR" property="pic2" />
    <result column="pic3" jdbcType="VARCHAR" property="pic3" />
    <result column="created" jdbcType="DATE" property="created" />
    <result column="updated" jdbcType="DATE" property="updated" />
    <result column="text" jdbcType="LONGVARBINARY" property="text" />
  </resultMap>
</mapper>